include ../mixins/index.pug
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="css/main.css")
		title Default Title

	body
		header
			block nav
				nav
					ul
						li: a(href="/en") English
						li: a(href="/") Russian
		main
			block content
		footer
			p © #{new Date().getFullYear()} Deviart agency

		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(src="js/main.js")
