body
	font-family: Arial, sans-serif
	line-height: 1.6
	background-color: $background-color
	color: $text-color

// Font icons
.fico
	display: inline-block
	&::before
		display: block

// Header
header
	background: $primary-color
	color: white
	padding: 10px 20px

	nav
		ul
			display: flex
			justify-content: flex-start
			align-items: center
		a
			color: white
			text-decoration: none
			margin-right: 15px

			&:hover 
				text-decoration: underline

// Main Content
main
	margin: 20px 0
	padding: 0 20px
	min-height: calc(100vh - 130px)

// Footer
footer
	background: $primary-color
	color: white
	padding: 10px 20px
	text-align: center