body
	background: tomato
	color: white
	font-family: Arial, Helvetica, sans-serif
	font-size: 20px

// Font icons
.fico
	display: inline-block
	font-size: 3rem
	&::before
		display: block

.blocks
	display: flex
	align-items: center
	justify-content: space-around
	.block
		background: white
		flex-basis: 200px
		color: tomato
		position: relative
		&::before
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			z-index: -1
			box-shadow: 0px 0px 30px 15px red