.icon {
    font-size: 10px;
    &:before {
      content:' ';
      vertical-align:middle;
      display: inline-block;
      background-image: url("../img/svg/sprite.svg");
      background-repeat: no-repeat;
      background-size: 18.1em 18.1em;

      .no-svg & {
        background-image: url("../svg/sprite.png");
      }
    }
}




.icon.svg-user {
  &:before {
      background-position: -1em -1em;
      width: 16.1em;
      height: 16.1em;
    }
  }

  @mixin icon-svg-user(){
    @extend .svg-user;
  }



