doctype html
html(lang='en')
 head
   title Pug
   link(rel="stylesheet", href="css/main.css")
   meta(name="viewport", content="width=device-width, initial-scale=1.0")
 body
  style(type='text/css').
    .back{
      color: red
    }
  h1 Pug Examples
  div.container(data-block="12")
  p Cool Pug example!